# Multivariate Time Series Forecasting with Transformers 
Dataset: http://bit.ly/covid19-poland

In [124]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import networkx
import seaborn
import sklearn
from tabulate import tabulate

## Load dataset

In [125]:
df = pd.read_csv('DataSets/COVID-19_w_Polsce-Wzrost.csv', sep=';', usecols=["Data", "Nowe przypadki", "Zmiana liczby aktywnych przypadków"])
print(df.head())
print(df.tail())
print(f"Number of records: {len(df)}")
print("Labels types:")
print(f"{df.dtypes}")

# table = df.values.tolist()
# headers = df.columns.tolist()
# print(tabulate(table, headers=headers, tablefmt="pretty"))

# styled_df = df.style.format('{:^10}').set_properties(**{'border': '1px solid black', 'text-align': 'center'}).set_table_styles([{'selector': 'th', 'props': [('border', '1px solid black')]}])
# styled_df

   Data Nowe przypadki Zmiana liczby aktywnych przypadków
0  3.03            + 0                                + 0
1  4.03            + 1                                + 1
2  5.03            + 0                                + 0
3  6.03            + 4                                + 4
4  7.03            + 1                                + 1
      Data Nowe przypadki Zmiana liczby aktywnych przypadków
738  11.03        + 11637                              2 917
739  12.03            NaN                          5 169 557
740    NaN            NaN                                NaN
741    NaN            NaN                                NaN
742    NaN            NaN                                NaN
Number of records: 743
Labels types:
Data                                  float64
Nowe przypadki                         object
Zmiana liczby aktywnych przypadków     object
dtype: object

## Data preprocessing

### Remove NaNs

In [126]:
df = df.dropna()
# for index, row in df.iterrows():
#     if pd.isna(row['Data']):
#         df.drop(index, inplace=True)
print(f"Number of records after dropping all NaNs: {len(df)}")
df

Number of records after dropping all NaNs: 739

      Data Nowe przypadki Zmiana liczby aktywnych przypadków
0     3.03            + 0                                + 0
1     4.03            + 1                                + 1
2     5.03            + 0                                + 0
3     6.03            + 4                                + 4
4     7.03            + 1                                + 1
..     ...            ...                                ...
734   7.03         + 5585                             -6 470
735   8.03        + 13152                              2 945
736   9.03        + 14415                              4 355
737  10.03        + 13438                              4 794
738  11.03        + 11637                              2 917

[739 rows x 3 columns]

### Convert types

In [117]:
def is_string(value):
    return isinstance(value, str)
result = df.applymap(is_string)
print(result)

      Data  Nowe przypadki  Zmiana liczby aktywnych przypadków
0    False            True                                True
1    False            True                                True
2    False            True                                True
3    False            True                                True
4    False            True                                True
..     ...             ...                                 ...
734  False            True                                True
735  False            True                                True
736  False            True                                True
737  False            True                                True
738  False            True                                True

[739 rows x 3 columns]

In [118]:
df

      Data Nowe przypadki Zmiana liczby aktywnych przypadków
0     3.03            + 0                                + 0
1     4.03            + 1                                + 1
2     5.03            + 0                                + 0
3     6.03            + 4                                + 4
4     7.03            + 1                                + 1
..     ...            ...                                ...
734   7.03         + 5585                             -6 470
735   8.03        + 13152                              2 945
736   9.03        + 14415                              4 355
737  10.03        + 13438                              4 794
738  11.03        + 11637                              2 917

[739 rows x 3 columns]

In [119]:
print(df.dtypes)
typ_komorki = df.at[0, 'Nowe przypadki']

print("Typ komórki:", type(typ_komorki))

try:
    wartosc_int = int(typ_komorki)
    print("Przekonwertowana wartość na int:", wartosc_int)
except ValueError:
    print("Nie można przekonwertować wartości na int, ponieważ nie jest to liczba całkowita.")

Data                                  float64
Nowe przypadki                         object
Zmiana liczby aktywnych przypadków     object
dtype: object
Typ komórki: <class 'str'>
Nie można przekonwertować wartości na int, ponieważ nie jest to liczba całkowita.

In [120]:

for idx, wartosc_str in enumerate(df['Nowe przypadki']):
    print(f"{idx} {type(wartosc_str)}")
    wartosc_str = wartosc_str.strip().replace(' ', '')
    czy_minus = wartosc_str.startswith('-')

    try:
        wartosc_int = int(wartosc_str)
        if czy_minus:
            wartosc_int *= -1

        df.at[idx, 'Nowe przypadki'] = wartosc_int
    except ValueError:
        pass

print(df)

0 <class 'str'>
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
8 <class 'str'>
9 <class 'str'>
10 <class 'str'>
11 <class 'str'>
12 <class 'str'>
13 <class 'str'>
14 <class 'str'>
15 <class 'str'>
16 <class 'str'>
17 <class 'str'>
18 <class 'str'>
19 <class 'str'>
20 <class 'str'>
21 <class 'str'>
22 <class 'str'>
23 <class 'str'>
24 <class 'str'>
25 <class 'str'>
26 <class 'str'>
27 <class 'str'>
28 <class 'str'>
29 <class 'str'>
30 <class 'str'>
31 <class 'str'>
32 <class 'str'>
33 <class 'str'>
34 <class 'str'>
35 <class 'str'>
36 <class 'str'>
37 <class 'str'>
38 <class 'str'>
39 <class 'str'>
40 <class 'str'>
41 <class 'str'>
42 <class 'str'>
43 <class 'str'>
44 <class 'str'>
45 <class 'str'>
46 <class 'str'>
47 <class 'str'>
48 <class 'str'>
49 <class 'str'>
50 <class 'str'>
51 <class 'str'>
52 <class 'str'>
53 <class 'str'>
54 <class 'str'>
55 <class 'str'>
56 <class 'str'>
57 <class 'str'>
58 <class 'str'>
59 <class 'str'>
60 <class 'str'>
61 <class 'str'>
62 <class 'str'>
63 <class 'str'>
64 <class 'str'>
65 <class 'str'>
66 <class 'str'>
67 <class 'str'>
68 <class 'str'>
69 <class 'str'>
70 <class 'str'>
71 <class 'str'>
72 <class 'str'>
73 <class 'str'>
74 <class 'str'>
75 <class 'str'>
76 <class 'str'>
77 <class 'str'>
78 <class 'str'>
79 <class 'str'>
80 <class 'str'>
81 <class 'str'>
82 <class 'str'>
83 <class 'str'>
84 <class 'str'>
85 <class 'str'>
86 <class 'str'>
87 <class 'str'>
88 <class 'str'>
89 <class 'str'>
90 <class 'str'>
91 <class 'str'>
92 <class 'str'>
93 <class 'str'>
94 <class 'str'>
95 <class 'str'>
96 <class 'str'>
97 <class 'str'>
98 <class 'str'>
99 <class 'str'>
100 <class 'str'>
101 <class 'str'>
102 <class 'str'>
103 <class 'str'>
104 <class 'str'>
105 <class 'str'>
106 <class 'str'>
107 <class 'str'>
108 <class 'str'>
109 <class 'str'>
110 <class 'str'>
111 <class 'str'>
112 <class 'str'>
113 <class 'str'>
114 <class 'str'>
115 <class 'str'>
116 <class 'str'>
117 <class 'str'>
118 <class 'str'>
119 <class 'str'>
120 <class 'str'>
121 <class 'str'>
122 <class 'str'>
123 <class 'str'>
124 <class 'str'>
125 <class 'str'>
126 <class 'str'>
127 <class 'str'>
128 <class 'str'>
129 <class 'str'>
130 <class 'str'>
131 <class 'str'>
132 <class 'str'>
133 <class 'str'>
134 <class 'str'>
135 <class 'str'>
136 <class 'str'>
137 <class 'str'>
138 <class 'str'>
139 <class 'str'>
140 <class 'str'>
141 <class 'str'>
142 <class 'str'>
143 <class 'str'>
144 <class 'str'>
145 <class 'str'>
146 <class 'str'>
147 <class 'str'>
148 <class 'str'>
149 <class 'str'>
150 <class 'str'>
151 <class 'str'>
152 <class 'str'>
153 <class 'str'>
154 <class 'str'>
155 <class 'str'>
156 <class 'str'>
157 <class 'str'>
158 <class 'str'>
159 <class 'str'>
160 <class 'str'>
161 <class 'str'>
162 <class 'str'>
163 <class 'str'>
164 <class 'str'>
165 <class 'str'>
166 <class 'str'>
167 <class 'str'>
168 <class 'str'>
169 <class 'str'>
170 <class 'str'>
171 <class 'str'>
172 <class 'str'>
173 <class 'str'>
174 <class 'str'>
175 <class 'str'>
176 <class 'str'>
177 <class 'str'>
178 <class 'str'>
179 <class 'str'>
180 <class 'str'>
181 <class 'str'>
182 <class 'str'>
183 <class 'str'>
184 <class 'str'>
185 <class 'str'>
186 <class 'str'>
187 <class 'str'>
188 <class 'str'>
189 <class 'str'>
190 <class 'str'>
191 <class 'str'>
192 <class 'str'>
193 <class 'str'>
194 <class 'str'>
195 <class 'str'>
196 <class 'str'>
197 <class 'str'>
198 <class 'str'>
199 <class 'str'>
200 <class 'str'>
201 <class 'str'>
202 <class 'str'>
203 <class 'str'>
204 <class 'str'>
205 <class 'str'>
206 <class 'str'>
207 <class 'str'>
208 <class 'str'>
209 <class 'str'>
210 <class 'str'>
211 <class 'str'>
212 <class 'str'>
213 <class 'str'>
214 <class 'str'>
215 <class 'str'>
216 <class 'str'>
217 <class 'str'>
218 <class 'str'>
219 <class 'str'>
220 <class 'str'>
221 <class 'str'>
222 <class 'str'>
223 <class 'str'>
224 <class 'str'>
225 <class 'str'>
226 <class 'str'>
227 <class 'str'>
228 <class 'str'>
229 <class 'str'>
230 <class 'str'>
231 <class 'str'>
232 <class 'str'>
233 <class 'str'>
234 <class 'str'>
235 <class 'str'>
236 <class 'str'>
237 <class 'str'>
238 <class 'str'>
239 <class 'str'>
240 <class 'str'>
241 <class 'str'>
242 <class 'str'>
243 <class 'str'>
244 <class 'str'>
245 <class 'str'>
246 <class 'str'>
247 <class 'str'>
248 <class 'str'>
249 <class 'str'>
250 <class 'str'>
251 <class 'str'>
252 <class 'str'>
253 <class 'str'>
254 <class 'str'>
255 <class 'str'>
256 <class 'str'>
257 <class 'str'>
258 <class 'str'>
259 <class 'str'>
260 <class 'str'>
261 <class 'str'>
262 <class 'str'>
263 <class 'str'>
264 <class 'str'>
265 <class 'str'>
266 <class 'str'>
267 <class 'str'>
268 <class 'str'>
269 <class 'str'>
270 <class 'str'>
271 <class 'str'>
272 <class 'str'>
273 <class 'str'>
274 <class 'str'>
275 <class 'str'>
276 <class 'str'>
277 <class 'str'>
278 <class 'str'>
279 <class 'str'>
280 <class 'str'>
281 <class 'str'>
282 <class 'str'>
283 <class 'str'>
284 <class 'str'>
285 <class 'str'>
286 <class 'str'>
287 <class 'str'>
288 <class 'str'>
289 <class 'str'>
290 <class 'str'>
291 <class 'str'>
292 <class 'str'>
293 <class 'str'>
294 <class 'str'>
295 <class 'str'>
296 <class 'str'>
297 <class 'str'>
298 <class 'str'>
299 <class 'str'>
300 <class 'str'>
301 <class 'str'>
302 <class 'str'>
303 <class 'str'>
304 <class 'str'>
305 <class 'str'>
306 <class 'str'>
307 <class 'str'>
308 <class 'str'>
309 <class 'str'>
310 <class 'str'>
311 <class 'str'>
312 <class 'str'>
313 <class 'str'>
314 <class 'str'>
315 <class 'str'>
316 <class 'str'>
317 <class 'str'>
318 <class 'str'>
319 <class 'str'>
320 <class 'str'>
321 <class 'str'>
322 <class 'str'>
323 <class 'str'>
324 <class 'str'>
325 <class 'str'>
326 <class 'str'>
327 <class 'str'>
328 <class 'str'>
329 <class 'str'>
330 <class 'str'>
331 <class 'str'>
332 <class 'str'>
333 <class 'str'>
334 <class 'str'>
335 <class 'str'>
336 <class 'str'>
337 <class 'str'>
338 <class 'str'>
339 <class 'str'>
340 <class 'str'>
341 <class 'str'>
342 <class 'str'>
343 <class 'str'>
344 <class 'str'>
345 <class 'str'>
346 <class 'str'>
347 <class 'str'>
348 <class 'str'>
349 <class 'str'>
350 <class 'str'>
351 <class 'str'>
352 <class 'str'>
353 <class 'str'>
354 <class 'str'>
355 <class 'str'>
356 <class 'str'>
357 <class 'str'>
358 <class 'str'>
359 <class 'str'>
360 <class 'str'>
361 <class 'str'>
362 <class 'str'>
363 <class 'str'>
364 <class 'str'>
365 <class 'str'>
366 <class 'str'>
367 <class 'str'>
368 <class 'str'>
369 <class 'str'>
370 <class 'str'>
371 <class 'str'>
372 <class 'str'>
373 <class 'str'>
374 <class 'str'>
375 <class 'str'>
376 <class 'str'>
377 <class 'str'>
378 <class 'str'>
379 <class 'str'>
380 <class 'str'>
381 <class 'str'>
382 <class 'str'>
383 <class 'str'>
384 <class 'str'>
385 <class 'str'>
386 <class 'str'>
387 <class 'str'>
388 <class 'str'>
389 <class 'str'>
390 <class 'str'>
391 <class 'str'>
392 <class 'str'>
393 <class 'str'>
394 <class 'str'>
395 <class 'str'>
396 <class 'str'>
397 <class 'str'>
398 <class 'str'>
399 <class 'str'>
400 <class 'str'>
401 <class 'str'>
402 <class 'str'>
403 <class 'str'>
404 <class 'str'>
405 <class 'str'>
406 <class 'str'>
407 <class 'str'>
408 <class 'str'>
409 <class 'str'>
410 <class 'str'>
411 <class 'str'>
412 <class 'str'>
413 <class 'str'>
414 <class 'str'>
415 <class 'str'>
416 <class 'str'>
417 <class 'str'>
418 <class 'str'>
419 <class 'str'>
420 <class 'str'>
421 <class 'str'>
422 <class 'str'>
423 <class 'str'>
424 <class 'str'>
425 <class 'str'>
426 <class 'str'>
427 <class 'str'>
428 <class 'str'>
429 <class 'str'>
430 <class 'str'>
431 <class 'str'>
432 <class 'str'>
433 <class 'str'>
434 <class 'str'>
435 <class 'str'>
436 <class 'str'>
437 <class 'str'>
438 <class 'str'>
439 <class 'str'>
440 <class 'str'>
441 <class 'str'>
442 <class 'str'>
443 <class 'str'>
444 <class 'str'>
445 <class 'str'>
446 <class 'str'>
447 <class 'str'>
448 <class 'str'>
449 <class 'str'>
450 <class 'str'>
451 <class 'str'>
452 <class 'str'>
453 <class 'str'>
454 <class 'str'>
455 <class 'str'>
456 <class 'str'>
457 <class 'str'>
458 <class 'str'>
459 <class 'str'>
460 <class 'str'>
461 <class 'str'>
462 <class 'str'>
463 <class 'str'>
464 <class 'str'>
465 <class 'str'>
466 <class 'str'>
467 <class 'str'>
468 <class 'str'>
469 <class 'str'>
470 <class 'str'>
471 <class 'str'>
472 <class 'str'>
473 <class 'str'>
474 <class 'str'>
475 <class 'str'>
476 <class 'str'>
477 <class 'str'>
478 <class 'str'>
479 <class 'str'>
480 <class 'str'>
481 <class 'str'>
482 <class 'str'>
483 <class 'str'>
484 <class 'str'>
485 <class 'str'>
486 <class 'str'>
487 <class 'str'>
488 <class 'str'>
489 <class 'str'>
490 <class 'str'>
491 <class 'str'>
492 <class 'str'>
493 <class 'str'>
494 <class 'str'>
495 <class 'str'>
496 <class 'str'>
497 <class 'str'>
498 <class 'str'>
499 <class 'str'>
500 <class 'str'>
501 <class 'str'>
502 <class 'str'>
503 <class 'str'>
504 <class 'str'>
505 <class 'str'>
506 <class 'str'>
507 <class 'str'>
508 <class 'str'>
509 <class 'str'>
510 <class 'str'>
511 <class 'str'>
512 <class 'str'>
513 <class 'str'>
514 <class 'str'>
515 <class 'str'>
516 <class 'str'>
517 <class 'str'>
518 <class 'str'>
519 <class 'str'>
520 <class 'str'>
521 <class 'str'>
522 <class 'str'>
523 <class 'str'>
524 <class 'str'>
525 <class 'str'>
526 <class 'str'>
527 <class 'str'>
528 <class 'str'>
529 <class 'str'>
530 <class 'str'>
531 <class 'str'>
532 <class 'str'>
533 <class 'str'>
534 <class 'str'>
535 <class 'str'>
536 <class 'str'>
537 <class 'str'>
538 <class 'str'>
539 <class 'str'>
540 <class 'str'>
541 <class 'str'>
542 <class 'str'>
543 <class 'str'>
544 <class 'str'>
545 <class 'str'>
546 <class 'str'>
547 <class 'str'>
548 <class 'str'>
549 <class 'str'>
550 <class 'str'>
551 <class 'str'>
552 <class 'str'>
553 <class 'str'>
554 <class 'str'>
555 <class 'str'>
556 <class 'str'>
557 <class 'str'>
558 <class 'str'>
559 <class 'str'>
560 <class 'str'>
561 <class 'str'>
562 <class 'str'>
563 <class 'str'>
564 <class 'str'>
565 <class 'str'>
566 <class 'str'>
567 <class 'str'>
568 <class 'str'>
569 <class 'str'>
570 <class 'str'>
571 <class 'str'>
572 <class 'str'>
573 <class 'str'>
574 <class 'str'>
575 <class 'str'>
576 <class 'str'>
577 <class 'str'>
578 <class 'str'>
579 <class 'str'>
580 <class 'str'>
581 <class 'str'>
582 <class 'str'>
583 <class 'str'>
584 <class 'str'>
585 <class 'str'>
586 <class 'str'>
587 <class 'str'>
588 <class 'str'>
589 <class 'str'>
590 <class 'str'>
591 <class 'str'>
592 <class 'str'>
593 <class 'str'>
594 <class 'str'>
595 <class 'str'>
596 <class 'str'>
597 <class 'str'>
598 <class 'str'>
599 <class 'str'>
600 <class 'str'>
601 <class 'str'>
602 <class 'str'>
603 <class 'str'>
604 <class 'str'>
605 <class 'str'>
606 <class 'str'>
607 <class 'str'>
608 <class 'str'>
609 <class 'str'>
610 <class 'str'>
611 <class 'str'>
612 <class 'str'>
613 <class 'str'>
614 <class 'str'>
615 <class 'str'>
616 <class 'str'>
617 <class 'str'>
618 <class 'str'>
619 <class 'str'>
620 <class 'str'>
621 <class 'str'>
622 <class 'str'>
623 <class 'str'>
624 <class 'str'>
625 <class 'str'>
626 <class 'str'>
627 <class 'str'>
628 <class 'str'>
629 <class 'str'>
630 <class 'str'>
631 <class 'str'>
632 <class 'str'>
633 <class 'str'>
634 <class 'str'>
635 <class 'str'>
636 <class 'str'>
637 <class 'str'>
638 <class 'str'>
639 <class 'str'>
640 <class 'str'>
641 <class 'str'>
642 <class 'str'>
643 <class 'str'>
644 <class 'str'>
645 <class 'str'>
646 <class 'str'>
647 <class 'str'>
648 <class 'str'>
649 <class 'str'>
650 <class 'str'>
651 <class 'str'>
652 <class 'str'>
653 <class 'str'>
654 <class 'str'>
655 <class 'str'>
656 <class 'str'>
657 <class 'str'>
658 <class 'str'>
659 <class 'str'>
660 <class 'str'>
661 <class 'str'>
662 <class 'str'>
663 <class 'str'>
664 <class 'str'>
665 <class 'str'>
666 <class 'str'>
667 <class 'str'>
668 <class 'str'>
669 <class 'str'>
670 <class 'str'>
671 <class 'str'>
672 <class 'str'>
673 <class 'str'>
674 <class 'str'>
675 <class 'str'>
676 <class 'str'>
677 <class 'str'>
678 <class 'str'>
679 <class 'str'>
680 <class 'str'>
681 <class 'str'>
682 <class 'str'>
683 <class 'str'>
684 <class 'str'>
685 <class 'str'>
686 <class 'str'>
687 <class 'str'>
688 <class 'str'>
689 <class 'str'>
690 <class 'str'>
691 <class 'str'>
692 <class 'str'>
693 <class 'str'>
694 <class 'str'>
695 <class 'str'>
696 <class 'str'>
697 <class 'str'>
698 <class 'str'>
699 <class 'str'>
700 <class 'str'>
701 <class 'str'>
702 <class 'str'>
703 <class 'str'>
704 <class 'str'>
705 <class 'str'>
706 <class 'str'>
707 <class 'str'>
708 <class 'str'>
709 <class 'str'>
710 <class 'str'>
711 <class 'str'>
712 <class 'str'>
713 <class 'str'>
714 <class 'str'>
715 <class 'str'>
716 <class 'str'>
717 <class 'str'>
718 <class 'str'>
719 <class 'str'>
720 <class 'str'>
721 <class 'str'>
722 <class 'str'>
723 <class 'str'>
724 <class 'str'>
725 <class 'str'>
726 <class 'str'>
727 <class 'str'>
728 <class 'str'>
729 <class 'str'>
730 <class 'str'>
731 <class 'str'>
732 <class 'str'>
733 <class 'str'>
734 <class 'str'>
735 <class 'str'>
736 <class 'str'>
737 <class 'str'>
738 <class 'str'>
      Data Nowe przypadki Zmiana liczby aktywnych przypadków
0     3.03              0                                + 0
1     4.03              1                                + 1
2     5.03              0                                + 0
3     6.03              4                                + 4
4     7.03              1                                + 1
..     ...            ...                                ...
734   7.03           5585                             -6 470
735   8.03          13152                              2 945
736   9.03          14415                              4 355
737  10.03          13438                              4 794
738  11.03          11637                              2 917

[739 rows x 3 columns]

In [121]:
a = "- 1"
b = "+ 2"

a = a.replace(' ', '')
b = b.replace(' ', '')


a = int(a)
b = int(b)

print(a+1)
print(b)

0
2

In [122]:
df

      Data Nowe przypadki Zmiana liczby aktywnych przypadków
0     3.03              0                                + 0
1     4.03              1                                + 1
2     5.03              0                                + 0
3     6.03              4                                + 4
4     7.03              1                                + 1
..     ...            ...                                ...
734   7.03           5585                             -6 470
735   8.03          13152                              2 945
736   9.03          14415                              4 355
737  10.03          13438                              4 794
738  11.03          11637                              2 917

[739 rows x 3 columns]

# TODO: DOKOŃCZYĆ PREPROCESSING

In [ ]:
# TODO: DOKOŃCZYĆ PREPROCESSING

## Visualisation

In [ ]:
def visualise():
    pass

## Create Model

In [ ]:
class TransformerModel(nn.Module):
    def __init__(self, input_size, output_size, num_layers=2, hidden_size=64, num_heads=4, dropout=0.1):
        super(TransformerModel, self).__init__()
        encoder_layer = nn.TransformerEncoderLayer(d_model=input_size, nhead=num_heads, dropout=dropout)
        self.transformer_encoder = nn.TransformerEncoder(encoder_layer, num_layers=num_layers)
        self.fc = nn.Linear(input_size, output_size)

    def forward(self, src):
        src = src.permute(1, 0, 2)  # wymagane wymiary [seq_len, batch, input_size]
        output = self.transformer_encoder(src)
        output = self.fc(output[-1, :, :])  # ostatni element z sekwencji
        return output

## Training

In [ ]:
data = df[['Data', 'Nowe przypadki', 'Zmiana liczby aktywnych przypadków']].copy()
data['Data'] = pd.to_datetime(data['Data'])
data.set_index('Data', inplace=True)

data = (data - data.mean()) / data.std()

train_data = data.iloc[:int(0.8 * len(data))]
test_data = data.iloc[int(0.8 * len(data)):]

X_train = torch.tensor(train_data.values, dtype=torch.float32)
X_test = torch.tensor(test_data.values, dtype=torch.float32)

In [128]:
def train_and_evaluate(model, epochs, criterion, optimizer):
    for epoch in range(epochs):
        model.train()
        optimizer.zero_grad()
        output = model(X_train)
        loss = criterion(output, X_train)
        loss.backward()
        optimizer.step()
        if (epoch+1) % 10 == 0:
            print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

    model.eval()
    with torch.no_grad():
        predicted = model(X_test)
        predicted = predicted.detach().numpy()

## Evaluation

In [ ]:
input_size = 0
output_size = 0
num_layers = 0
hidden_size = 0
num_heads = 0
dropout = 0

model = TransformerModel(input_size, output_size, num_layers, hidden_size, num_heads, dropout)

criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
epochs = 100

train_and_evaluate(model, epochs, criterion, optimizer)

## Conclusion

In [130]:
# TODO: Do testowania proszę użyć kilku podejść podziału danych na uczące- testujace:
# TODO: (https://hub.packtpub.com/cross-validation-strategies-for-time-series-forecasting-tutorial/)
# TODO: -K-Fold, Time SeriesSplit, Blocking Time Series Split
# TODO: Dla każdego wyniku stosujemy różne miary błędu (ewaluacji) MSE, MAE, R^2,  specyficzność czułość, index of agreement itp..

SyntaxError: invalid syntax (1513674348.py, line 1)